<div id="homeunit" class="hero-unit">

	<h1 id="welcometext" style="text-align:center;">Welcome to <em>CourseResource</em></h1>
	
	<% if session[:user_id].nil? %>
    	<a id="signupbutton" class="btn btn-large" href="<%= new_user_url %>">Sign Up</a>
		<a id="loginbutton" class="btn btn-large" href="<%= new_session_url %>">Login</a>
		<%= link_to "Populate DB", "/courses/populate" %>
	<% end %>
	
	<% render "searchform" # this search form is deactivated for now %>
</div>	

