// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#homeunit.hero-unit {
	background-color: rosybrown;
}

div#userhomesearchbar.hero-unit {
	background-color: rosybrown;
	padding: 10px;
}

div#usersearchresults.hero-unit {
	background-color: maroon;
	color: white;
	padding: 10px;
	height: 400px;
	position: relative;
  	box-shadow: 6px 6px 6px 3px #666;
	border: 2px solid white;
}

div#userhomeresults.hero-unit {
	background-color: maroon ; /*#567CDA*/
	color: white;
	padding: 10px 10px 20px 20px;
	height: 70px;
	width: 170px;
  	box-shadow: 6px 6px 6px 3px #666;
	border: 2px solid white;
}

div#usersearchresults.hero-unit h4 {
	width: 300px;
	position: absolute;
	left: 50px;
	top: 390px;
	color: #666;
}

div#usersearchresults.hero-unit a {
	width: 85px;
	position: absolute;
	left: 180px;
	top: 390px;
	color: yellow;
}

div#userhomesearchbar.hero-unit form.button_to {
	margin: 0 0 -10px;
}

div#userhomesearchbar.hero-unit form.form-search {
	position:relative;
	float: left;
	left: 150px;
	top: -47px;
	
}

#signupbutton {
	width:150px;
	position:relative;
	margin-top:20px;
	left:300px;
}

#loginbutton {
	width:150px;
	position:relative;
	margin-top:20px;
	left:350px
}

.container-fluid {
	background-color: whitesmoke;
}
.container-fluid a.brand {
	color: black;
}

.navbar .nav > li > a {
	color: black;	
}

.navbar .nav > li > a:hover {
	background-color: maroon;
	
}

.navbar a:hover {
	background-color: maroon;
	color: white;
}
/* I want to reduce the width of the hero-unit on the admin page*/
.hero-unit #admin_school {
	width: 180px;
}

div#homeunit.hero-unit form.form-search {
	position:relative;
	left:350px;
	top: 50px;
}

.input-long search-query {
	size:18;
}